// Colors.
$white: #fff;
$black: #000;
$grey: #767676;
$lh-grey: #dcdcdc;

// Breakpoints.
$tablet-width: 768px;
$desktop-width: 992px;

// Fonts.
$ff-regular: 'PTSans-regular', sans-serif;
$ff-bold: 'PTSans-bold', sans-serif;
$ff-light: 'Open Sans Condensed', sans-serif;;

// Font size.
$fs-base: 14px;
$fs-small: 1.07em;         // 15px.
$fs-medium: 1.5em;         // 21px.
$fs-extra-large: 2.86em;   // 40px.
$fs-large: 2.15em;         // 30px.
