@font-face {
	font-family: 'PTSans-regular';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/ptsans/ptsans-regular/ptsans.eot') format('eot'),
	     url('../fonts/ptsans/ptsans-regular/ptsans.ttf') format('truetype'),
	     url('../fonts/ptsans/ptsans-regular/ptsans.woff') format('woff');
}

@font-face {
	font-family: 'PTSans-bold';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/ptsans/ptsans-bold/ptsans.eot') format('eot'),
       url('../fonts/ptsans/ptsans-bold/ptsans.ttf') format('truetype'),
	     url('../fonts/ptsans/ptsans-bold/ptsans.woff') format('woff');
}
